@model IEnumerable<PetShopManagement.Models.Produtos>

@{
    ViewData["Title"] = "Produtos";
}

<h1> @ViewData["Title"] </h1>


<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(Model => Model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Valor)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar | </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input class="btn btn-outline-success" type="button" value="Adicionar" onclick="location.href='@Url.Action("Create", "Produtos")'" />